# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "829936ed40dcc19c60c8dd442a652863"
name = "Clock Block"
application_url = "https://clockblock-production.up.railway.app/app/clockblock"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_content,read_files,read_metaobject_definitions,read_metaobjects,unauthenticated_read_metaobjects,write_content,write_files,write_metaobject_definitions,write_metaobjects,write_products"
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [
  "https://clockblock-production.up.railway.app/auth",
  "https://clockblock-production.up.railway.app/auth/callback"
]
